[user]
	name       = Munetaka Mizutani
	email      = mu.mizutani@gmail.com
[alias]
	b          = branch
	br         = branch -r
	ba         = branch -a
	cm         = commit -m
	st         = status
	ch         = chckout
	cb         = chckout -b
    cl         = config -l
    rv         = remote -v
    lo         = log --oneline
    hist       = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[color]
	ui         = auto
    branch     = true
    status     = true
    diff       = true
[color "branch"]
    current    = green reverse
    local      = green
    remote     = yellow
[color "status"]
    header     = normal blink
    added      = red white
    updated    = cyan reverse
    changed    = red
    untracked  = magenta
    nobranch   = blue white bold
[color "diff"]
    plain      = normal
    meta       = bold
    frag       = cyan
    old        = red
    new        = green
    commit     = yellow
    whitespace = normal red
[tig "bind"]
    generic    = g move-first-line
    generic    = G move-last-line
